<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <title>Panel Pedido</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href="public/css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>

      <div class="container">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Inventarios</h1>
          </div>
    
          <form class="mb-4">
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="producto">Inventarios</label>
                <input type="text" class="form-control" id="producto" placeholder="Ingrese el nombre del producto">
              </div>
              <div class="col-md-6 mb-3">
                <label for="cantidad">Stock</label>
                <input type="number" class="form-control" id="cantidad" placeholder="Ingrese el stock disponible">
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Buscar</button>
          </form>
    
          
          <h2>Listado de Pedidos</h2>
          <table class="table mt-4">
            <thead>
              <tr>
                <th>ID</th>
                <th>Inventario</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <!-- Aquí se mostrarán los datos de los pedidos -->
              <tr>
                <td>1</td>
                <td>Inventarios 001</td>
              </tr>
            </tbody>
          </table>
    
         
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        
       
        <script>
          feather.replace();
        </script>
        
    

<footer>Copright@ yenny bibiana 2024</footer>



    </body>
</html>