 
 
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
     background-color: black;
     background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    align-items: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
}


.container {
    max-width: 1100px;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-theme {
    background-color:hsl(0, 0.00%, 4.70%);
    color: #fff;
}

.dark-theme nav.sidebar {
    background-color: #070707;
}

.dark-theme .nav-link {
    color: #fff;
}

.dark-theme .nav-link.active {
    color: #007bff;
}

header {
    background-color: hsl(0, 33%, 93%);
    color: #fff;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px  20px;
}


.logo{
    font-size: 17px;
    color: #f3e0e0;
    text-decoration:  none;
    flex: 1;
    top: 10px;
    }
    
    
    .logo span{
        color:#114e4e
    }
    
    
    
    .nav{
        flex: 1;
       justify-content: space-around;
        width: 50%;
        margin-left: auto;
       
        
    }
    
    
    .nav a{
        color: hwb(310 3% 56%);
        text-decoration: none;
        margin-right: 20px;
        padding: 10px; /* Espaciado interno para los enlaces */
        margin-top: 10px;
        margin-left: auto; 
        font-size: 16px;
        
    }
    
    .nav a:hover{
        background-color: hwb(342 4% 51%);
        color:hsl(0, 27.70%, 90.80%);
    }
    
  
    .nav  .active{
      color: #0f6146;
   
   }
   
   
  

.logo-container {
    margin-right: 30px; 
}

.logo-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.form-background {
    background-color: #1b1a1b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(8, 8, 8, 0.102);
    width: 100%;
    max-width: 50%; 
    margin-left: 100px; 
}

h1 {
    text-align: center;
    color: hwb(0 92% 6%);
}

h2 {
    text-align: center;
    color: #f7f1f1;
}

p{
  color: #fff;
}

.regis{
    color:#fff;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: hsl(0, 57%, 97%);
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid rgb(233, 250, 0);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(17, 12, 88);
    color: hwb(0 96% 3%);
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #fae100;
    color: #0c0b0b;
}

.logo {
    font-size: 17px;
    color: #f3e0e0;
    text-decoration: none;
}

.logo span {
    color: #114e4e;
}

  


@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .form-background {
        margin-left: 0;
    }
}


.logo-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.wrapper {
    flex-direction: column;
}


.table.table-dark.table-striped {
    background-color: #1f1f2f; /* un azul oscuro bonito */
    color: #fff; /* texto blanco para que se vea */
}

.table.table-dark.table-striped td,
.table.table-dark.table-striped th {
    border: 1px solid #444;
    padding: 0.75rem;
}



